.Cards-Container {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: left;
    align-items: center;
}

.Home-Body {
    align-self: center;
    justify-content: center;
    color: rgb(73, 203, 243);
}

.Home-Page {
    background-color: white;
    width: 100%;
}